doctype html
html
  head
    title= title
    script(src='/javascripts/SpryValidationTextField.js', type='text/javascript')
    script(src='/javascripts/SpryValidationTextarea.js', type='text/javascript')
    link(href='/stylesheets/SpryValidationTextField.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/SpryValidationTextarea.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
